<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
        FrameX
    </title>

</head>

<body>
    <center>
        <h1>
            <?= print_r($data, true) ?>
        </h1>
    </center>
    <hr>
    <center>FrameX (FX) Engine <br> WebCore <?= config('app.version') ?></center>
</body>

</html>